<%- include('partials/header') -%>

<form action="/remark/:id/edit/<%= remark.id %>" method="POST">
    <fieldset>
      <h2>Edit Remarks</h2>
      <input name="title" type="text" placeholder="Update Reamrks"><%= remark.title %></input>
      <input name="author" type="text" placeholder="author" value="<%= remark.author %>" />
      <input type="submit" value="Update Remark" />
    </fieldset>
</form>

<%- include('partials/footer') -%>